# Database Connection (PostgreSQL)
# Local: postgresql://tahiry:tahiry4534@localhost:5432/gestion_benevole?schema=public
DATABASE_URL=""

# Shadow Database (for Prisma migrations)
SHADOW_DATABASE_URL=""

# NextAuth Config
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# App Environment
NODE_ENV="development"
